footer.principal-footer
    div.footer-menu.wow.fadeInLeft
        div.social
            a(href="#")
                img.social-icon(src='images/icon-twitter.png')
            a(href="#")
                img.social-icon(src='images/icon-face.png')
        div.text-footer-menu
            <p><strong>Dirección:</strong></p>
            <p>Cra 11 # 11 - 13</p>
            <p>Tunja, Boyacá - Colombia</p>
            <p><strong>Teléfonos:</strong></p>
            <p>3108034795-3142964847</p>
            <p><strong>Email</strong></p>
            p mediossobremedios@hotmail.com 
    div.footer.bottom-xs.wow.fadeIn
        div.content-footer
            div.head-footer
                img(src="images/icon-call.png")
                p CONTACTO
            div.line-footer
        form.form
            div.left-form
                input(type="text" placeholder="Nombre" required)
                input(type="phone" placeholder="Teléfono" required)
                input(type="email" placeholder="Correo" required)
            div.right-form
                textarea(type="text" placeholder="Comentario" required)
            div.btn-send
                button Enviar
            
script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false")
script(src="vendor/jquery-1.10.1.min.js")
script(src="vendor/bootstrap.min.js")
script(src="js/main.js")
script(src="vendor/wow/wow.min.js")
script(src="vendor/fancybox/jquery.fancybox.js?v=2.1.5")
script(src="vendor/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5")
script(src="vendor/owl-slide/owl.carousel.js")