include ./_head.jade
body(style="height: 100%;")
    div#wrapper(style="height: 100%;")
        include ./_menu-left.jade    
        div.content.smart
            div.line-vertical
            include ./_menu.jade
            div.img-via.wow.fadeIn
                img(src="images/imagen-valla-.png").map.to-svg
            div.title-section-about
                div.wow.fadeInRight.line-green-red
                    div.line-red
                    div.line-green
                h1.wow.fadeIn Medios sobre Medios es una de las primeras centrales de medios que opera en el Departamento de Boyacá y una de las empresas con mayor proyección en la región.
                div.wow.fadeInRight.line-green-red-down
                    div.line-green
                    div.line-red 
            div.text-section
                p Nuestra función empresarial es poder ofrecer a los anunciantes el más amplio portafolio de medios convencionales y no convencionales para asegurar que su campaña publicitaria llegue realmente al público objetivo esperado. En otras palabras la central tiene alianzas estratégicas con todos los medios lo cual no solo representa un ahorro de dinero para su empresa, sino que gana tiempo y tiene auditoría permanente sobre el cumplimiento de la pauta.
            div.row.start-xs.description__quienes_somos
                div.col-xs-12.col-md-5.row.center-xs
                    img(src="images/vertical-quienes.png", alt="")
                div.col-xs-12.col-md-7
                    h3 TODOS EN UN SÓLO LUGAR
                    p En una sola empresa encuentra las alternativas posibles del plan de medios para una campaña publicitaria
                    h3 ASESORíA
                    p Su empresa puede disponer de la asesoria y acompañamiento de profesionales en el campo de la comunicación para ser más efectivo su objetivo de la comunicación.
                    h3 SEGMENTACIÓN
                    p Las campañas masivas pueden segmentarse para acertar en la identificación de su público.
                    h3 OPTIMIZACIÓN DE RECURSOS
                    p Optimiza los recursos destinados por su empresa para invertir en publicidad.
                    h3 TARIFAS ADECUADAS
                    p Las tarifas son las mismas que le ofrecen los medios contratados para sus campañas publicitarias.
                    h3 EFICIENCIA
                    p Hace más eficiente el uso del tiempo por parte del equipo directivo y de comunicaciones, al realizar en una sola negociación toda la campaña sin tener que atender uno a uno los medios ofertantes.
                    h3 GARANTÍA
                    p Le ofrecemos plena garantía de la exposición de sus mensajes en los medios y adicionalmente hacemos auditoria para asegurar que la publicidad sea emitida en los términos pactados.
                    h3 EFICACIA
                    p Le asesoramos en la escogencia de medios para llegar a su publico objetivo.
            div.row.mision-vision
                h3 MISIÓN
                div.lines-title.wow.fadeInRight
                    div.line-green
                    div.line-red 
                p Somos una agencia de publicidad con 10 años de experiencia en el mercado que integra un amplio portafolio de servicios publicitarios, utilizando herramientas y estrategias eficientes para impactar al mercado objetivo, trabajamos día a día para brindar un excelente servicio y entregarles los mejores resultados a nuestros clientes, optimizando sus recursos económicos y garantizando el posicionamiento de sus marcas.
                h3 VISIÓN
                div.lines-title.wow.fadeInRight
                    div.line-green
                    div.line-red 
                p En 2020 ser la Central de Medios de mayor prestigio en el oriente colombiano.
             div.row.start-xs.metropolis-text.middle-xs
                div.col-xs-12.col-md-5.row.center-xs
                    img(src="images/vertical-quienes2.png", alt="")
                div.col-xs-12.col-md-7
                    h3 METRÓPOLIS EQUIPAMIENTOS
                    p Ésta empresa nace como una forma de contribuir al progreso de nuestras ciudades y aportar al bienestar de los usuarios de servicios de transporte urbano, mediante la mplementación de mobiliario destinado a prestar ese servicio. Es también una respuesta a las necesidades de comunicación de las empresas para hacer que la publicidad esté al alcance de sus clientes potenciales.
                    div.lines-title.wow.fadeInRight.lines-aling
                        div.line-green
                        div.line-red 
            
    include ./_footer.jade