include ./_head.jade
body
    div#wrapper
        include ./_menu-left.jade 
        div.content
            div.line-vertical
            include ./_menu.jade
            div.title-section
                h1.wow.fadeInRight CLIENTES
                div.line-green.wow.fadeInRight
            div.options.row.center-xs.container_image_clients
                a.fancybox(href="images/clients/client-1.jpg" data-fancybox-group="gallery" title="Cliente: Esso - Mobil /Ubicación: Duitama")
                    div.col-xs-4.content_image_clients(style="background: url(images/clients/client-1.jpg) no-repeat center; background-size: cover")
                        div.row.middle-xs.start-xs.hover_clients
                            div.col-xs-12.description_item_clients Cliente: Esso - Mobil Ubicación: Duitama
                            span.col-xs-12.lupa
                a.fancybox(href="images/clients/client-1.jpg" data-fancybox-group="gallery" title="Cliente: Esso - Mobil /Ubicación: Duitama")
                    div.col-xs-4.content_image_clients(style="background: url(images/clients/client-1.jpg) no-repeat center; background-size: cover")
                        div.row.middle-xs.start-xs.hover_clients
                            div.col-xs-12.description_item_clients Cliente: Esso - Mobil Ubicación: Duitama
                            span.col-xs-12.lupa
                a.fancybox(href="images/clients/client-1.jpg" data-fancybox-group="gallery" title="Cliente: Esso - Mobil /Ubicación: Duitama")
                    div.col-xs-4.content_image_clients(style="background: url(images/clients/client-1.jpg) no-repeat center; background-size: cover")
                        div.row.middle-xs.start-xs.hover_clients
                            div.col-xs-12.description_item_clients Cliente: Esso - Mobil Ubicación: Duitama
                            span.col-xs-12.lupa
                a.fancybox(href="images/clients/client-1.jpg" data-fancybox-group="gallery" title="Cliente: Esso - Mobil /Ubicación: Duitama")
                    div.col-xs-4.content_image_clients(style="background: url(images/clients/client-1.jpg) no-repeat center; background-size: cover")
                        div.row.middle-xs.start-xs.hover_clients
                            div.col-xs-12.description_item_clients Cliente: Esso - Mobil Ubicación: Duitama
                            span.col-xs-12.lupa
            div.row.center-xs
                div.col-xs-2.row.middle-xs.center-xs.btn-clients
                    a(href="#")
                        p CARGAR MÁS FOTOS
    include ./_footer.jade 