include ./_head.jade
body
    div#wrapper
        include ./_menu-left.jade 
        div.content
            div.line-vertical
            include ./_menu.jade
            div.title-section
                h1.wow.fadeInRight MEDIOS
                div.line-green.wow.fadeInRight 
            div.section-content.row
                div.search
                    ul.row.center-xs.col-xs-11
                        li.title_search_zone Buscar por zona
                        li.options-rbtn
                            input(id="r1" type="radio" name="group1" value="todos")
                            label.icon-select-product(for="r1")
                                span
                            p Todos
                        li.options-rbtn
                            input(id="r2" type="radio" name="group1" value="centro")
                            label.icon-select-product(for="r2")
                                span
                            p Centro
                        li.options-rbtn
                            input(id="r3" type="radio" name="group1" value="occidente")
                            label.icon-select-product(for="r3")
                                span
                            p Occidente
                        li.options-rbtn
                            input(id="r4" type="radio" name="group1" value="sugamuxi")
                            label.icon-select-product(for="r4")
                                span
                            p Sugauxi
                        li.options-rbtn
                            input(id="r5" type="radio" name="group1" value="tundama")
                            label.icon-select-product(for="r5")
                                span
                            p Tundama
                        li.options-rbtn
                            input(id="r6" type="radio" name="group1" value="ricaurte")
                            label.icon-select-product(for="r6")
                                span
                            p Ricaurte
                        li
                            a.btn-search(href="product-sel.html") Buscar
                        li
                            a.btn-back(href="products.html")
                                p Volver
                                img(src="images/icon-back.png") 
                div.col-lg-6.col-sm-12.col-xs-12.row.center-xs
                    div.col-xs-10.map-boy-location
                        img(src="images/map-boy1.svg")
                div.col-lg-6.col-sm-12.col-xs-12.row.center-xs
                    div.col-xs-10.data-products
                        h1 ZONA CENTRO
                        ul
                             li.color 
                                p Tunja  Sector Viaducto Circunvalar
                                a(href="description.html") 
                                    span Ver mas +
                             li
                                p Tunja  Sector Viaducto Circunvalar
                                a(href="#") 
                                    span Ver mas +
                             li.color 
                                p Tunja  Sector Viaducto Circunvalar
                                a(href="#") 
                                    span Ver mas +
                             li
                                p Tunja  Sector Viaducto Circunvalar
                                a(href="#") 
                                    span Ver mas +
                             li.color 
                                p Tunja  Sector Viaducto Circunvalar
                                a(href="#") 
                                    span Ver mas +
                             li
                                p Tunja  Sector Viaducto Circunvalar
                                a(href="#") 
                                    span Ver mas +
                             li.color 
                                p Tunja  Sector Viaducto Circunvalar
                                a(href="#") 
                                    span Ver mas +
                             li
                                p Tunja  Sector Viaducto Circunvalar
                                a(href="#") 
                                    span Ver mas +
                        h1 ZONA OCCIDENTE
                        ul
                             li.color 
                                p Tunja  Sector Viaducto Circunvalar
                                a(href="#") 
                                    span Ver mas +
                             li
                                p Tunja  Sector Viaducto Circunvalar
                                a(href="#") 
                                    span Ver mas +
                             li.color 
                                p Tunja  Sector Viaducto Circunvalar
                                a(href="#") 
                                    span Ver mas +
                             li
                                p Tunja  Sector Viaducto Circunvalar
                                a(href="#") 
                                    span Ver mas +
                             li.color 
                                p Tunja  Sector Viaducto Circunvalar
                                a(href="#") 
                                    span Ver mas +
                             li
                                p Tunja  Sector Viaducto Circunvalar
                                a(href="#") 
                                    span Ver mas +
                             li.color 
                                p Tunja  Sector Viaducto Circunvalar
                                a(href="#") 
                                    span Ver mas +
                             li
                                p Tunja  Sector Viaducto Circunvalar
                                a(href="#") 
                                    span Ver mas +
                        h1 ZONA TUNDAMA
                        ul
                             li.color 
                                p Tunja  Sector Viaducto Circunvalar
                                a(href="#") 
                                    span Ver mas +
                             li
                                p Tunja  Sector Viaducto Circunvalar
                                a(href="#") 
                                    span Ver mas +
                             li.color 
                                p Tunja  Sector Viaducto Circunvalar
                                a(href="#") 
                                    span Ver mas +
                             li
                                p Tunja  Sector Viaducto Circunvalar
                                a(href="#") 
                                    span Ver mas +
                             li.color 
                                p Tunja  Sector Viaducto Circunvalar
                                a(href="#") 
                                    span Ver mas +
                             li
                                p Tunja  Sector Viaducto Circunvalar
                                a(href="#") 
                                    span Ver mas +
                             li.color 
                                p Tunja  Sector Viaducto Circunvalar
                                a(href="#") 
                                    span Ver mas +
                             li
                                p Tunja  Sector Viaducto Circunvalar
                                a(href="#") 
                                    span Ver mas +
                    
    include ./_footer.jade