include ./_head.jade
body
    div#wrapper
        include ./_menu-left.jade 
        div.content
            div.line-vertical
            include ./_menu.jade
            div.title-section
                h1.wow.fadeInRight PREGUNTAS FRECUENTES
                div.line-green.wow.fadeInRight
            div.content-question
                ol
                    li.wow.fadeIn
                        p Impresión de la valla fototelón.
                    li.wow.fadeIn
                        p Recomendaciones para la impresión de fototelón den vinilo nacional según arte suministrado por el cliente.
                    li.wow.fadeIn
                        p El CD que suministra el cliente debe cumplir con los siguientes requisito: <br>  - Imagen en alta resolución. <br>  - El archivo debe venir proporcional a la medida real de la valla. <br>  - Textos convertidos a curvas. <br>  - Diseño en programas: Corel Draw, Illustration, Frehan, Photoshop. <br>  - Plataforma PC o MAC. <br>  - Arte impreso a Full Color <br>  - Color CMYK.
                    li.wow.fadeIn
                        p Para vallas de 12x4 mts el telón tiene un costo de $700.000 + IVA. Pago anticipado.
                    li.wow.fadeIn
                        p Cambio de Fototelón. $300.000 más IVA.
                    li.wow.fadeIn
                        p Reformas de Estructuras.
                    li.wow.fadeIn
                        p Troqueles, repujados o características especiales del diseño como instalación de maniquíes y otros, tienen un costo adicional de acuerdo a la dimensión.        
    include ./_footer.jade