include ./_head.jade
body
    div#wrapper
        include ./_menu-left.jade    
        div.content
            div.line-vertical
            include ./_menu.jade
            div.title-section
                h2.wow.fadeInRight SERVICIOS
                div.line-green.wow.fadeInRight
            div.title-section-about
                div.wow.fadeInRight.line-green-red
                    div.line-red
                    div.line-green
                h1 Nuestra función empresarial es poder ofrecer a los anunciantes el más amplio portafolio de medios convencionales y no convencionales para asegurar que su campaña publicitaria llegue realmente al público objetivo esperado.
                div.wow.fadeInRight.line-green-red-down
                    div.line-green
                    div.line-red
                p En otras palabras la central tiene alianzas estratégicas con todos los medios lo cual no solo representa un ahorro de dinero para su empresa, sino que gana tiempo y tiene auditoría premanente sobre el cumplimiento de la pauta.
                div.row.center-xs.content__service
                    div.col-xs-12.col-md-6.col-lg-4.cnt__img__service
                        a(href="")
                            div.image__services(style="background: url(images/service/service-1.jpg) no-repeat center; background-size: cover;")
                            h2 RADIO
                            div.view.row.center-xs
                                a(href="#")
                                    img(src="images/mas.svg").js-img-to-svg
                                    p Ver
                    div.col-xs-12.col-md-6.col-lg-4.cnt__img__service
                        a(href="")
                            div.image__services(style="background: url(images/service/service-2.jpg) no-repeat center; background-size: cover;")
                            h2 PUBLICIDAD EN PERIÓDICOS REGIONALES Y NACIONALES
                            div.view.row.center-xs
                                a(href="#")
                                    img(src="images/mas.svg").js-img-to-svg
                                    p Ver
                    div.col-xs-12.col-md-6.col-lg-4.cnt__img__service
                        a(href="")
                            div.image__services(style="background: url(images/service/service-1.jpg) no-repeat center; background-size: cover;")
                            h2 RADIO
                            div.view.row.center-xs
                                a(href="#")
                                    img(src="images/mas.svg").js-img-to-svg
                                    p Ver
                    div.col-xs-12.col-md-6.col-lg-4.cnt__img__service
                        a(href="")
                            div.image__services(style="background: url(images/service/service-2.jpg) no-repeat center; background-size: cover;")
                            h2 PUBLICIDAD EN PERIÓDICOS REGIONALES Y NACIONALES
                            div.view.row.center-xs
                                a(href="#")
                                    img(src="images/mas.svg").js-img-to-svg
                                    p Ver
                    div.col-xs-12.col-md-6.col-lg-4.cnt__img__service
                        a(href="")
                            div.image__services(style="background: url(images/service/service-1.jpg) no-repeat center; background-size: cover;")
                            h2 RADIO
                            div.view.row.center-xs
                                a(href="#")
                                    img(src="images/mas.svg").js-img-to-svg
                                    p Ver
                    div.col-xs-12.col-md-6.col-lg-4.cnt__img__service
                        a(href="")
                            div.image__services(style="background: url(images/service/service-2.jpg) no-repeat center; background-size: cover;")
                            h2 PUBLICIDAD EN PERIÓDICOS REGIONALES Y NACIONALES
                            div.view.row.center-xs
                                a(href="#")
                                    img(src="images/mas.svg").js-img-to-svg
                                    p Ver
    include ./_footer.jade