
<footer class="principal-footer">
  <div class="footer-menu wow fadeInLeft">
    <div class="social"><a href="#"><img src="images/icon-twitter.png" class="social-icon"/></a><a href="#"><img src="images/icon-face.png" class="social-icon"/></a></div>
    <div class="text-footer-menu">
      <p><strong>Dirección:</strong></p>
      <p>Cra 11 # 11 - 13</p>
      <p>Tunja, Boyacá - Colombia</p>
      <p><strong>Teléfonos:</strong></p>
      <p>3108034795-3142964847</p>
      <p><strong>Email</strong></p>
      <p>mediossobremedios@hotmail.com </p>
    </div>
  </div>
  <div class="footer bottom-xs wow fadeIn">
    <div class="content-footer">
      <div class="head-footer"><img src="images/icon-call.png"/>
        <p>CONTACTO</p>
      </div>
      <div class="line-footer"></div>
    </div>
    <form class="form">
      <div class="left-form">
        <input type="text" placeholder="Nombre" required="required"/>
        <input type="phone" placeholder="Teléfono" required="required"/>
        <input type="email" placeholder="Correo" required="required"/>
      </div>
      <div class="right-form">
        <textarea type="text" placeholder="Comentario" required="required"></textarea>
      </div>
      <div class="btn-send">
        <button>Enviar</button>
      </div>
    </form>
  </div>
</footer>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="vendor/jquery-1.10.1.min.js"></script>
<script src="vendor/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script src="vendor/wow/wow.min.js"></script>
<script src="vendor/fancybox/jquery.fancybox.js?v=2.1.5"></script>
<script src="vendor/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script src="vendor/owl-slide/owl.carousel.js"></script>