
<div class="menu-left"><a href="index.html"><img src="images/logo.png"/></a>
  <ul>
    <li class="item-menu"><a href="about.html">
        <p class="text-item">QUIÉNES SOMOS</p></a><img src="images/icon-msm.svg" class="icon-item"/></li>
    <li class="item-menu"><a href="services.html">
        <p class="text-item">SERVICIOS</p></a><img src="images/icon-medios.svg" class="icon-item"/></li>
    <li class="item-menu"><a href="clients.html">
        <p class="text-item">CLIENTES</p></a><img src="images/icon-clients.svg" class="icon-item"/></li>
    <li class="item-menu"><a href="questions.html">
        <p class="text-item">PREGUNTAS FRECUENTES</p></a><img src="images/icon-question.svg" class="icon-item"/></li>
    <li class="item-menu"><a href="contact.html">
        <p class="text-item">CONTACTO</p></a><img src="images/icon-contact.svg" class="icon-item"/></li>
  </ul>
</div>