
<div class="bar-menu"><a href="index.html"><img src="images/logo-menu.svg" class="logo"/></a></div>
<input type="checkbox" id="btn-menu"/>
<label for="btn-menu" class="icon-menu"></label>
<ul class="menu">
  <li class="col-xs"><a href="about.html"><span>/</span>
      <p>QUIÉNES SOMOS</p></a></li>
  <li class="col-xs"><a href="services.html"><span>/</span>
      <p>SERVICIOS</p></a></li>
  <li class="col-xs"><a href="products.html"><span>/</span>
      <p>MEDIOS PROPIOS</p></a></li>
  <li class="col-xs"><a href="clients.html"><span>/</span>
      <p>CLIENTES</p></a></li>
  <li class="col-xs"><a href="questions.html"><span>/</span>
      <p>PREGUNTAS FRECUENTES</p></a></li>
  <li class="col-xs"><a href="contact.html"><span>/</span>
      <p>CONTACTO</p></a></li>
</ul>