<!DOCTYPE html>
<html lang="en">
  <head>
    <title>M:S:M</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="vendor/wow/animate.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/owl-slide/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="vendor/owl-slide/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="vendor/fancybox/jquery.fancybox.css?v=2.1.5">
    <link rel="stylesheet" type="text/css" href="vendor/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5">
  </head>
</html>
<body>
  <div class="menu-left"><a href="index.html"><img src="images/logo.png"></a>
    <ul>
      <li class="item-menu"><a href="about.html">
          <p class="text-item">QUIÉNES SOMOS</p></a><img src="images/icon-msm.svg" class="icon-item"></li>
      <li class="item-menu"><a href="services.html">
          <p class="text-item">SERVICIOS</p></a><img src="images/icon-medios.svg" class="icon-item"></li>
      <li class="item-menu"><a href="clients.html">
          <p class="text-item">CLIENTES</p></a><img src="images/icon-clients.svg" class="icon-item"></li>
      <li class="item-menu"><a href="questions.html">
          <p class="text-item">PREGUNTAS FRECUENTES</p></a><img src="images/icon-question.svg" class="icon-item"></li>
      <li class="item-menu"><a href="contact.html">
          <p class="text-item">CONTACTO</p></a><img src="images/icon-contact.svg" class="icon-item"></li>
    </ul>
  </div>
  <div class="content">
    <div class="line-vertical"></div>
    <div class="bar-menu"><a href="index.html"><img src="images/logo-menu.svg" class="logo"></a></div>
    <input type="checkbox" id="btn-menu">
    <label for="btn-menu" class="icon-menu"></label>
    <ul class="menu">
      <li class="col-xs"><a href="about.html"><span>/</span>
          <p>QUIÉNES SOMOS</p></a></li>
      <li class="col-xs"><a href="services.html"><span>/</span>
          <p>SERVICIOS</p></a></li>
      <li class="col-xs"><a href="products.html"><span>/</span>
          <p>MEDIOS PROPIOS</p></a></li>
      <li class="col-xs"><a href="clients.html"><span>/</span>
          <p>CLIENTES</p></a></li>
      <li class="col-xs"><a href="questions.html"><span>/</span>
          <p>PREGUNTAS FRECUENTES</p></a></li>
      <li class="col-xs"><a href="contact.html"><span>/</span>
          <p>CONTACTO</p></a></li>
    </ul>
    <div class="title-section wow fadeInRight">
      <h1>CONTACTO</h1>
      <div class="line-green"></div>
    </div>
    <div class="text-section">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis voluptatum magni repudiandae, cumque odit corporis perferendis minima vel necessitatibus atque impedit reiciendis officiis, sequi veritatis! Id sunt omnis explicabo ab.</p>
    </div>
    <div class="contact">
      <div class="content-footer">
        <div class="head-footer"><img src="images/icon-call.png">
          <p>CANTÁCTENOS</p>
        </div>
        <div class="line-footer"></div>
      </div>
      <form class="form-2">
        <div class="top-form">
          <input type="text" placeholder="Nombre" required>
          <input type="phone" placeholder="Teléfono" required>
          <input type="email" placeholder="e-mail" required>
        </div>
        <div class="bottom-form">
          <textarea type="text" placeholder="Comentario" required></textarea>
        </div>
        <div class="btn-send">
          <button>Enviar</button>
        </div>
      </form>
    </div>
    <div class="content-social row center-xs middle-xs">
      <div class="social-contact col-xs"><a href="#"><img src="images/icon-twitter.png" class="social-icon-contact"></a><a href="#"><img src="images/icon-face.png" class="social-icon-contact"></a></div>
    </div>
    <div class="row center-xs middle-xs content-social">
      <div class="text-contact col-xs"><strong>Correos</strong>
        <p>mediossobremedios@hotmail.com <br> metropolisequipamientosltda@hotmail.com</p><strong>Teléfonos</strong>
        <p>310 4568732 - 3456233 </p>
        <p>Boyacá, Colombia</p>
      </div>
    </div>
  </div>
</body>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/main.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="vendor/wow/wow.min.js"></script>